**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* C:\ORCAD\PROGETTI\STM32\POD-6.MAX  *
* Sun Nov 22 06:16:04 2009           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       200      34       200      100                                                                                 
T2       370      113      200      100                                                                                 
T3       400      2        200      100                                                                                 
